{% extends 'base.html.twig' %}

{% block title %}Edit Topic{% endblock %}

{% block body %}

    {{ include('topic/new.html.twig', {'button_label': 'Update'}) }}

    <form method="post" action="{# TO DO #}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ topic.id) }}">
    <button class="btn btn-dark">Delete</button>
    </form>
    
{% endblock %}
