{% extends 'base.html.twig' %}

{% block title %}FORUM{% endblock %}
{# Bootstrap navbar  #}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{# TO DO #}">Nouveau Topic</a>
      </li>
    </ul>
  </div>
</nav>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>subject</th>
                <th>description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {# boucle sur les topic pour les afficher #}
            <tr>
                <td>{# TO DO #}</td>
                <td>{# TO DO #}</td>
                <td>{# TO DO #}</td>
                <td>
                    <a href="{# TO DO #}" class="btn btn-info">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
